.logo{
  height: 10vh;
  width: 10vw;
  margin: 3% 0 0 40%;
}
.section{
  margin-top: 5%;
}
select{
  width: 40%;
  height: 5vh;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 25%;
}